@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.getStart {
    position: relative;
    overflow: hidden;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px;
        border-radius: 1310px;
        background: rgba(10, 10, 10, 0.95);
        filter: blur(15px);
        content: '';
    }

    &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 300px;
        border-radius: 50%;
        background: rgba(10, 10, 10, 0.90);
        filter: blur(75px);
        content: '';
    }

    video {
        display: block;
        width: 100%;
    }

    .contentAlignment {
        position: absolute;
        bottom: 0;
        z-index: 9;
        left: 0;
        width: 100%;

        .bottomSpacing {
            padding: 0 0 90px 0;

            h2 {
                margin: 16px 0 32px 0;
                color: #FFF;
                text-align: center;
                font-size: 48px;
                font-weight: 600;
                line-height: 105%;
                text-transform: capitalize;

                span {
                    @include text-gradient;
                }
            }

            .btnAlignment {
                padding: 32px 0 0 0;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 16px;
            }

            p {
                color: rgba(255, 255, 255, 0.50);
                text-align: center;
                font-size: 18px;
                font-weight: 400;
                line-height: 110%;
                max-width: 619px;
                margin: 0 auto;
            }

            .center {
                display: flex;
                justify-content: center;
            }
        }
    }
}