@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.experienceInstitutional {
    padding: 150px 0;

    @include respond-to("xl") {
        padding: 100px 0;
    }

    @include respond-to("md") {
        padding: 80px 0;
    }

    @include respond-to("sm") {
        padding: 60px 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;

        @include respond-to("xl") {
            gap: 60px;
        }

        @include respond-to("md") {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        .items {
            .stickySection {
                position: sticky;
                top: 150px;

                @include respond-to("md") {
                    position: relative;
                    top: 0;
                }
            }

            .iconGrid {
                display: grid;
                grid-template-columns: 120px 1fr;
                gap: 10px;

                padding: 0 0 20px 0;
                cursor: pointer;
                will-change: transform;

                @include respond-to("sm") {
                    grid-template-columns: 80px 1fr;
                    gap: 0;
                }

                &:last-child {
                    padding: 0;
                }

                .textbox {
                    border-radius: 16px;
                    background: rgba(255, 255, 255, 0.04);
                    position: relative;
                    padding: 10px;

                    &::before {
                        content: '';
                        position: absolute;
                        inset: 0;
                        border-radius: 16px;
                        padding: 1px;
                        background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(153, 153, 153, 0) 100%);
                        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                        -webkit-mask-composite: xor;
                        mask-composite: exclude;
                        pointer-events: none;
                    }

                    .inner {
                        border-radius: 16px;
                        border: 1px solid rgba(255, 255, 255, 0.05);
                        background: rgba(255, 255, 255, 0.02);
                        padding: 20px;

                        @include respond-to("sm") {
                            padding: 16px;
                        }

                        h3 {
                            color: #FFF;
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 110%;
                            margin: 0 0 16px 0;

                            @include respond-to("sm") {
                                font-size: 18px;
                                margin: 0 0 10px 0;
                            }
                        }

                        p {
                            color: var(--Text-Secondary, #8E8E8E);
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 110%;

                            @include respond-to("sm") {
                                font-size: 14px;
                            }
                        }
                    }
                }

                .icon {
                    width: 100%;
                    border-left: 4px solid rgba(255, 255, 255, 0.10);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;

                    @include respond-to("sm") {
                        border-left: 2px solid rgba(255, 255, 255, 0.10);
                    }
                }

            }

            h2 {
                color: #FFF;
                font-size: 48px;
                font-weight: 600;
                line-height: 105%;
                text-transform: capitalize;
                margin: 20px 0 0 0;

                @include respond-to("xl") {
                    font-size: 40px;
                }

                @include respond-to("md") {
                    font-size: 36px;
                }

                @include respond-to("sm") {
                    font-size: 26px;
                }

                span {
                    @include text-gradient;
                }
            }
        }
    }
}