@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.similarBlogs {
    background: rgba(255, 255, 255, 0.04);
    padding: 120px 0;

    @include respond-to("md") {
        padding: 80px 0;
    }

    @include respond-to("sm") {
        padding: 60px 0;
    }

    h2 {
        color: #FFF;
        font-size: 48px;
        font-weight: 600;
        line-height: 125%;
        letter-spacing: -0.96px;

        @include respond-to("xl") {
            font-size: 40px;
        }

        @include respond-to("md") {
            font-size: 36px;
        }

        @include respond-to("sm") {
            font-size: 28px;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding: 60px 0 0 0;

        @include respond-to("xl") {
            grid-template-columns: repeat(3, 1fr);
        }

        @include respond-to("md") {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond-to("sm") {
            grid-template-columns: 1fr;
        }
    }
}