@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.similarBlogs {
    background: rgba(255, 255, 255, 0.04);
    padding: 120px 0;

    h2 {
        color: #FFF;
        font-size: 48px;
        font-weight: 600;
        line-height: 125%;
        letter-spacing: -0.96px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding: 60px 0 0 0;
    }
}