@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.marketInsights {
    padding: 150px 0;
    position: relative;
    overflow: hidden;

    @include respond-to("xl") {
        padding: 100px 0;
    }

    @include respond-to("md") {
        padding: 80px 0;
    }

    @include respond-to("sm") {
        padding: 60px 0;
    }

    &::before {
        position: absolute;
        max-width: 1300px;
        width: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        border-radius: 1310px;
        border-radius: 50%;
        opacity: 0.4;
        background: var(--Logo-Blue, linear-gradient(180deg, #149EF5 3.23%, #057FDA 38.93%, #046FC9 66.97%));
        filter: blur(250px);
        height: 100px;
    }


    :global(.container) {
        position: relative;
        z-index: 1;
    }

    .center {
        display: flex;
        justify-content: center;
        padding: 0 0 16px 0;
    }

    h2 {
        color: var(--Text-Primary, #FFF);
        font-size: 48px;
        font-weight: 600;
        line-height: 105%;
        text-transform: capitalize;
        text-align: center;
        margin: 0 0 60px 0;

        @include respond-to("xl") {
            font-size: 40px;
        }

        @include respond-to("md") {
            font-size: 36px;
            margin: 0 0 40px 0;
        }

        @include respond-to("sm") {
            font-size: 26px;
            margin: 0 0 30px 0;
        }

        span {
            @include text-gradient;
        }
    }
}