@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.oneAccount {
    padding: 150px 0;
    position: relative;

    @include respond-to("xl") {
        padding: 100px 0;
    }

    @include respond-to("md") {
        padding: 80px 0;
    }

    @include respond-to("sm") {
        padding: 60px 0;
    }

    &::before {
        position: absolute;
        max-width: 1300px;
        width: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        border-radius: 1310px;
        border-radius: 50%;
        opacity: 0.4;
        background: var(--Logo-Blue, linear-gradient(180deg, #149EF5 3.23%, #057FDA 38.93%, #046FC9 66.97%));
        filter: blur(150px);
        height: 100px;
    }

    .newgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        max-width: 932px;
        position: relative;
        z-index: 9;

        @include respond-to("md") {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        @include respond-to("sm") {
            gap: 30px;
        }
    }

    .title {
        margin: 0 0 80px 0;
        line-height: 105%;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include respond-to("xl") {
            margin: 0 0 60px 0;
        }

        @include respond-to("md") {
            margin: 0 0 40px 0;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
        }

        @include respond-to("sm") {
            margin: 0 0 30px 0;
            gap: 24px;
        }

        video {
            max-width: 180px;
        }

        h2 {
            color: #fff;
            font-size: 48px;
            font-weight: 600;
            margin: 16px 0 0 0;
            line-height: 105%;
            text-transform: capitalize;

            @include respond-to("xl") {
                font-size: 40px;
                margin: 16px 0 0 0;
            }

            @include respond-to("md") {
                font-size: 32px;
                margin: 12px 0 0 0;
            }

            @include respond-to("sm") {
                font-size: 26px;
                margin: 12px 0 0 0;
            }

            span {
                @include text-gradient;
            }
        }
    }

    .grid {

        .btnTopAlignment {
            padding: 24px 0 0 0;

            button {
                width: 100%;
            }
        }



        .box {
            position: relative;
            border-radius: 24px;
            padding: 10px;
            background: rgba(255, 255, 255, 0.04);

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: inherit;
                padding: 2px;
                background: linear-gradient(180deg, #149EF5 3.23%, #057FDA 49.77%, rgba(4, 111, 201, 0) 86.34%);
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                pointer-events: none;
            }

            .innerBox {
                border-radius: 16px;
                border: 1px solid rgba(255, 255, 255, 0.05);
                background: rgba(255, 255, 255, 0.04);

                .body {
                    padding: 30px;

                    @include respond-to("md") {
                        padding: 24px;
                    }

                    @include respond-to("sm") {
                        padding: 20px;
                    }

                    .text {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 0 24px 0;
                        gap: 12px;

                        @include respond-to("md") {
                            padding: 0 0 24px 0;
                        }

                        @include respond-to("sm") {
                            padding: 0 0 20px 0;
                        }

                        &:last-child {
                            padding: 0;
                        }

                        p {
                            color: var(--Text-Secondary, #8E8E8E);
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 110%;

                            @include respond-to("md") {
                                font-size: 16px;
                            }

                            @include respond-to("sm") {
                                font-size: 14px;
                            }
                        }

                        span {
                            display: block;
                            color: var(--Text-Primary, #FFF);
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 110%;

                            @include respond-to("md") {
                                font-size: 18px;
                            }

                            @include respond-to("sm") {
                                font-size: 16px;
                            }
                        }
                    }
                }

                .line {
                    width: 100%;
                    height: 1px;
                    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.20) 20.19%, rgba(255, 255, 255, 0.20) 78.85%, rgba(255, 255, 255, 0.00) 100%);
                }

                .header {
                    padding: 30px;
                    position: relative;

                    @include respond-to("md") {
                        padding: 24px;
                    }

                    @include respond-to("sm") {
                        padding: 20px;
                    }

                    &::before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 16px 16px 0 0;

                        width: 100%;
                        height: 100%;
                        content: '';
                        z-index: -1;
                        opacity: 0.2;
                        background: linear-gradient(180deg, #149EF5 3.23%, rgba(4, 111, 201, 0.00) 100%);
                    }

                    h3 {
                        color: var(--Text-Primary, #FFF);
                        font-size: 24px;
                        font-weight: 600;
                        margin: 0 0 12px 0;
                        line-height: 110%;
                        text-transform: uppercase;

                        @include respond-to("md") {
                            font-size: 20px;
                        }

                        @include respond-to("sm") {
                            font-size: 18px;
                            margin: 0 0 8px 0;
                        }
                    }

                    p {
                        color: var(--Text-Secondary, #8E8E8E);
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 110%;

                        @include respond-to("md") {
                            font-size: 16px;
                        }

                        @include respond-to("sm") {
                            font-size: 14px;
                        }
                    }
                }
            }
        }


    }
}