@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.registration {
    padding: 60px 0;
    background: rgba(255, 255, 255, 0.04);
    position: relative;
    overflow: hidden;

    &::before {
        position: absolute;
        max-width: 1300px;
        width: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        border-radius: 1310px;
        border-radius: 50%;
        opacity: 0.4;
        background: var(--Logo-Blue, linear-gradient(180deg, #149EF5 3.23%, #057FDA 38.93%, #046FC9 66.97%));
        filter: blur(250px);
        height: 100px;
    }


    :global(.container) {
        position: relative;
        z-index: 1;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 627px;
        align-items: center;
        gap: 60px;

        @include respond-to("xl") {
            grid-template-columns: 1fr 1fr;
            gap: 40px;
        }

        @include respond-to("md") {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        .img {

            img {
                display: block;
                width: 100%;
            }
        }

        .icontext {
            padding: 0 0 10px 0;
            display: grid;
            grid-template-columns: 20px 1fr;
            gap: 16px;
            align-items: center;

            img,
            span {
                display: block;
            }

            span {
                color: rgba(255, 255, 255, 0.50);
                font-size: 16px;
                font-weight: 400;
                line-height: 110%;

                @include respond-to("sm") {
                    font-size: 14px;
                }
            }
        }

        p {
            max-width: 520px;
            color: var(--Text-Secondary, #8E8E8E);
            font-size: 16px;
            font-weight: 400;
            line-height: 105%;
            @include font-normal;
            margin: 0 0 32px 0;

            @include respond-to("sm") {
                font-size: 14px;
            }
        }

        h3 {
            color: #FFF;
            font-size: 16px;
            font-weight: 500;
            line-height: 105%;
            margin: 0 0 16px 0;
            text-transform: uppercase;

            @include respond-to("sm") {
                font-size: 14px;
            }
        }

        h2 {
            color: #FFF;
            font-size: 48px;
            font-weight: 600;
            line-height: 105%;
            text-transform: capitalize;
            margin: 0 0 16px 0;

            @include respond-to("xl") {
                font-size: 40px;
            }

            @include respond-to("md") {
                font-size: 32px;
            }

            @include respond-to("sm") {
                font-size: 26px;
            }

            span {
                @include text-gradient;
            }
        }
    }
}