@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.forexTextlist {
    background: rgba(255, 255, 255, 0.04);
    padding: 30px 0;

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0px;

        @include respond-to("md") {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px 0;
        }

        @include respond-to("sm") {
            grid-template-columns: 1fr 1fr;
            gap: 20px 0;
        }

        .items {
            position: relative;

            @include respond-to("sm") {
                padding: 0 20px;
            }

            &:last-child {
                @include respond-to("sm") {
                    padding-right: 0;
                }

                @include respond-to("sm") {
                    &::before {
                        display: none;
                    }
                }

            }

            &:nth-child(2) {
                @include respond-to("sm") {
                    padding-right: 0;
                }

                @include respond-to("sm") {
                    &::before {
                        display: none;
                    }
                }

            }

            &:nth-child(3) {
                @include respond-to("sm") {
                    padding-left: 0;
                }
            }

            &:first-child {
                @include respond-to("sm") {
                    padding-left: 0;
                }
            }



            &::before {
                position: absolute;
                top: 0;
                right: 0;
                width: 1px;
                height: 100%;
                content: '';
                background: var(--Logo-Blue, linear-gradient(180deg, #149EF5 3.23%, #057FDA 38.93%, #046FC9 66.97%));
            }


            p {
                color: #FFF;
                font-size: 16px;
                font-weight: 400;
                line-height: 105%;
                text-align: center;

                @include respond-to("sm") {
                    font-size: 14px;
                    text-align: left;
                }
            }
        }
    }
}